:root{ 
--gradiente1: linear-gradient(90deg, rgba(14, 0, 20, 0.974) 0%, rgba(9, 3, 55, 0.939) 100%);
}

.bg-color {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--gradiente1);
    color: rgba(255, 255, 255, 0.801);
   
}

/* .accordion-button,
.accordion-header{
    background-color: #0e0014ea;
    color: white;
} */

.bg-image {
    background-image: url(../img/pag10-ocajpg.webp);
    
    background-size: contain;
    background-position: center;
    
}

.logo {
    width: 100px;
}

.contenedor-centrar {
    display: flex;
    justify-content: space-around;
}

.form-contenedor {

    width: 768px;

}

.guardias{
    margin-bottom: 10rem;
}

.form-floating {
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;

}

.formulario{
    padding-top: 20px;
}

.modal {
    color: #5d1b7b;
}

.error{
   
   color: rgb(252, 159, 159);
  
}
.bruto{
    color: #1fa65e;
    font-weight: 700;
    
}

.deducciones{
    color: #bc253e;
}
.vacas{
    display: none;
}
.inputVacas{
    padding: 20px 0px 5px;

}
.vacaciones{
    background-color: rgba(0, 0, 0, 0.137);
    padding: 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.contenedorPrincipal{
    margin-bottom: 2.5rem;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: .5rem;
    text-align: center;
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.502);
   background: var(--gradiente1);
    backdrop-filter: blur(5px);
    
}

.footer-link{
   
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.link{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 12px;

}
.img_footer{
    width: 1.5rem;
    filter: invert();
}
.total{
    margin: 2rem 0 5rem;
}
.mostrarDatos{

    position: sticky;
    bottom: 4rem;
    background: var(--gradiente1);
    background-attachment:fixed;
    backdrop-filter: blur(10px);
    border-radius: .5rem;
   border: solid 1px white;
   padding: .5rem;
}
.dolar{
    color: rgba(255, 255, 255, 0.651);
    font-size: .9rem;
}
/* .accordion{
    margin: 3rem 0;
} */