.bg-color {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(#3e0359ea, #0e064de6);
    color: rgba(255, 255, 255, 0.801);
   
}



.bg-image {
    background-image: url(../img/pag10-ocajpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.logo {
    width: 100px;
}

.contenedor-centrar {
    display: flex;
    justify-content: center;
}

.form-contenedor {

    width: 768px;

}



.form-floating {
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;

}

.formulario{
    padding-top: 20px;
}

.modal {
    color: #5d1b7b;
}

.error{
   
   color: rgb(252, 159, 159);
  
}
.bruto{
    color: #1fa65e;
    font-weight: 700;
    font-size: larger;
}

.deducciones{
    color: #bc253e;
}
.vacas{
    display: none;
}
.inputVacas{
    padding: 20px 0px 5px;

}
.vacaciones{
    background-color: rgba(0, 0, 0, 0.137);
    padding: 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.contenedorPrincipal{
    margin-bottom: 2.5rem;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: .5rem;
    text-align: center;
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.502);
   background-color: #300553e8;
    backdrop-filter: blur(5px);
    
}

.footer-link{
   
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.link{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 12px;

}
.img_footer{
    width: 1.5rem;
    filter: invert();
}
.total{
    margin: 2rem 0 5rem;
}
.accordion{
    margin: 3rem 0;
}